/******************************************
***          YT Framework: CSS          ***
*******************************************/
/*@import url(../asset/fonts/icomoon/icomoon.css);*/
@import url(../asset/fonts/font-awesome.min.css);

/*   General style    */
@font-face {
    font-family: 'Socialico';
    src: url('../asset/fonts/socialico-webfont.html');
    src: url('../asset/fonts/socialico-webfontd41d.html?#iefix') format('embedded-opentype'),
         url('../asset/fonts/socialico-webfont-2.html') format('woff'),
         url('../asset/fonts/socialico-webfont-3.html') format('truetype'),
         url('../asset/fonts/socialico-webfont-4.html#SocialicoRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
  font-family: 'fontello';
  src:  url("../asset/fonts/fontello.eot");
  src:  url("../asset/fonts/fontellod41d.eot?#iefix") format('embedded-opentype'),
        url("../asset/fonts/fontello.woff") format('woff'),
        url("../asset/fonts/fontello.ttf") format('truetype'),
        url("../asset/fonts/fontello.svg#fontello") format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
    font-family: 'French Vanilla';
	src: url('../asset/fonts/utm_french_vanilla.eot');
	src: url('../asset/fonts/utm_french_vanillad41d.eot?#iefix') format('embedded-opentype'),
	     url('../asset/fonts/utm_french_vanilla.woff') format('woff'),
	     url('../asset/fonts/utm_french_vanilla.ttf') format('truetype'),
	     url('../asset/fonts/utm_french_vanilla.svg#webfont') format('svg');
  
    font-weight: normal;
    font-style: normal;
}

h3.modtitle, h3.title, .contact > h3, div.blog > h2,
/*ul.navi div.separator.level2, ul.navi a.level2,*/
div.moduletabs div.tabs-container ul.tabs li,
#myCarousel .carousel-caption > h4, div.login .page-header > h1,
.page-header.item-title > a, div.category-list > h2,
.sj-extraslider .heading-title,
div.blog-featured .items-leading h2.item-title, div.category-name,
.browse-view h1,
.sj-content-slickslider-res .item-title, .sj-content-slickslider-res .item-title a,
.module.exclusive .modcontent > div:first-child,
/*ul.navi ul.level2 > li > div > .menu-title,*/
/*ul.navi ul.level2 > li > a > .menu-title,*/
ul.navi div.mega-group div.mega-group-title span.menu-title,
.sj_box_title h3,
.category-view .row .category .spacer h2 a,
.cart-view h1
{
    font-family: 'French Vanilla' !important;
}

/*.sj-extraslider .heading-title{font-family: "Anton";}*/
/*div.category-list > h2{font-family: "Anton";}*/
/**/
/*#position-e h2.item-title{font-family: "Anton";}*/


